@page "/create"
@using BlServer.Services;
@using global::Shared;
@inject ISinhVienService svService
@inject NavigationManager Navigation

<h3>Create</h3>

<EditForm Model="sinhVien" OnValidSubmit="CreateSV">
    <label>Name</label>
    <InputText @bind-Value="sinhVien.Name"></InputText>
    <br />
    <label>Age</label>
    <InputNumber @bind-Value="sinhVien.Age"></InputNumber>
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private SinhVien sinhVien;

    protected override void OnInitialized()
    {
        sinhVien = new SinhVien();
    }

    protected async Task CreateSV()
    {
        sinhVien.Id = Guid.NewGuid();

        await svService.Create(sinhVien);
        Navigation.NavigateTo(@"/listsinhvien");
    }
}
